<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>com.qfedu.servlet.AddContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>com.qfedu.servlet.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>com.qfedu.servlet.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryContactServlet</servlet-name>
    <servlet-class>com.qfedu.servlet.QueryContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListContactServlet</servlet-name>
    <servlet-class>com.qfedu.servlet.ListContactServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/AddContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryContactServlet</servlet-name>
    <url-pattern>/QueryContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListContactServlet</servlet-name>
    <url-pattern>/ListContactServlet</url-pattern>
  </servlet-mapping>

</web-app>